*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    background: #eaeaea;
    font-family: 'Roboto', sans-serif;
}

img{
    border-radius: 10px;
}

h1{
    color: #1B1B1B;
    font-size: 28px;
    text-align: center;
}

h3{
    color: #1B1B1B;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}

ol, ul, p{
    line-height: 30px;
    color: #39393A;
    font-size: 16px;
    list-style-position: inside;
    text-align: justify;
}

li{
    line-height: 30px;
}

footer{
    color: #8F8F8F;
    font-size: 12px;
    text-align: center;
    margin: 50px;
}

figcaption{
    color: #8F8F8F;
    font-size: 12px;
    text-align: right;
}


div{
    background: #FFFFFF;
    width: 800px;
    height: auto;
    border: solid #FFFFFF;
    border-radius: 10px;
    margin: 80px auto;
    padding: 40px 30px;
}
